.top_container {
  h2 {
      color: #333;
      font-size: 2em;
      width: 80%;
      margin: 0 auto;
      text-align: center
   }
}


.tweet-form {
    
    
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ccc;
    .tweet-text-area {
      width: 100%; // 250pxの幅に合わせる
      // 追加のスタイル設定があればここに書く
    }
}

.new_tweet_container {
    
  
}

.tweet {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  margin-bottom: 2em;
  padding: 1em;
  .user-info {
     display: flex;
     align-items: center;
     h2 {
        font-size: 18px;
        margin-left: 0.5em;
     }
     p {
        font-size: 0.8em;
        color: #666;
        margin-left: 0.5em;
     }
  }

  .tweet_avatar_image {
    width: 40px;
  }

  .content {
    margin-top: 1em;
    p {
        font-size: 18px;
    }
    img {
        width: 20%;
        border-radius: 10px;
        margin-right: 10px;
    }
  }
  
//   .actions {
//     margin-top: 1em;
//     a {
//       display: inline-block;
//       color: #000000;
//       text-decoration: none;
//       margin-right: 1em;
//     }
//   }
}

  